@charset "UTF-8";

html {
      background-color: #020430;
      color: white;
      padding: 20px;
      text-align: center;
        }

 @media (max-width: 767px) {
   html {
 /* ここに画面幅767px以下の場合のスタイルを記述します */
   		 background-color: #004080; /* 例: 背景色を変更 */
         padding: 10px; /* 例: パディングを変更 */
         font-size: 14px; /* 例: フォントサイズを変更 */

        }
        }
input{
	 background-color: #020430;
	 outline:solid 2px #FFFFFF
}

.nav ul {
    display: flex;
    padding: 0;
    margin: auto;
    list-style: none;
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;
}

/* 色が背景色から白色に代わるボタン */
.submitbutton {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 8px;   /* 余白       */
  background    : #020430;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.submitbutton:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}