@charset "UTF-8";

html {
	background-color: #020430;
	color: white;
	padding: 20px;
	text-align: center;
	border-color: #fff;

}

@media ( max-width : 767px) {
	html {
		/* ここに画面幅767px以下の場合のスタイルを記述します */
		background-color: #004080; /* 例: 背景色を変更 */
		padding: 10px; /* 例: パディングを変更 */
		font-size: 14px; /* 例: フォントサイズを変更 */
		border-color: #fff;
	}
}
/* 文字を白色にする */
input[type="text"] {
	color: white;
}

input[type="password"] {
    color: white;
}
input[type="time"]::-webkit-datetime-edit-text {
    color: white; /* 時間の数字の色を白にする */
}
input[type="time"]::-webkit-datetime-edit-hour-field {
    color: white; /* 時間の時の部分の色を白にする */
}
input[type="time"]::-webkit-datetime-edit-minute-field {
    color: white; /* 時間の分の部分の色を白にする */
}
input {
	background-color: #020430;
	outline: solid 2px #FFFFFF
}

/* ここからハンバーガーリスト */


/* ドロワーナビゲーションの必須スタイル */
#nav {
    position: fixed;
    right: -350px;
    top: 0;
    width: 270px;
    height: 100%;
}

/* ドロワーが開かれたときのスタイル */
.show {
    transform: translate3d(-900px, 0,0 );
    z-index: 2; /*奥行き */
}

/* 開く・閉じるアニメーション */
#wrapper {
	position: absolute;
    top: 0px;
    right: 300px;
	transition: transform 0.3s;
}
#nav{
	transition: transform 0.3s;
}
/* ===== ヘッダーにボタンを配置 ===== */
.header {
    padding: 16px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.title-block {
    flex: 1 1 auto;
}
.hamburger {
    flex: 0 0 0px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #fff;
    width : 10%;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
    padding: 24px 24px 0 24px;
    background: rdba(2, 4, 48, 0);

}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


@media(min-width: 768px) {
    .archive-box {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
.archive h3 {
    border-top: 1px dashed #809BA6;
    border-bottom: 1px dashed #809BA6;
    padding: 0.5rem 0;
    text-align: center;
}
.archive figure {
    margin: 0 0 2em 0;
    padding: 0;
    max-width: 320px;
}
.archive figcaption {
    text-align: center;
}
.thumb {
    max-width: 320px;
}

/* ここまでハンバーガーリスト */




.footericon{
    margin:  0 auto;
    list-style: none;
    position: fixed;
    bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.footericon ul li{
	display: inline-block;
	width: 18%;
	min-width: 90px;
}
/*.footericon ul li a{

text-decoration: none;
color: #333;
display:inline-block
}*/


/* 色が背景色から白色に代わるボタン */
.submitbutton {
	display: inline-block;
	border-radius: 5%; /* 角丸       */
	font-size: 30pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 8px 8px; /* 余白       */
	background: #020430; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.submitbutton:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Exo', sans-serif;
}

/*背景の泡　終わりはコメントで書いてる*/
.circles {
	position: absolute; /* 要素は文書の通常のフローから除外され、ページレイアウト内にこの要素のための空間が作成 */
	width: 100%;
	height: 100%;
	overflow: hidden; /* 右のスクロールホイールを生成させない */
	z-index: -1; /* 奥行き */
}

/* ここから親要素 */
.circles li {
	position: absolute;
	display: block; /* なくてもいい */
	list-style: none; /* 箇条書きの・をなくす */
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.4); /*RedGreenBlueAlpha(透明度)の略*/
	animation: animate 25s linear infinite; /* 25秒かけて等速で進行するアニメーションを無限に */
	bottom: -150px;/*泡のスタート位置　li7と10のサイズ*/
	border-radius: 100%;
}

/* ここから子要素 */
/* nth（number-th）-childは疑似クラスで決まり文句 */

.circles li:nth-child(1) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}
.circles li:nth-child(2) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}
.circles li:nth-child(3) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.circles li:nth-child(4) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}
.circles li:nth-child(5) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}
.circles li:nth-child(6) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}
.circles li:nth-child(7) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}
.circles li:bubble(8) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}
.circles li:nth-child(9) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}
.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}
/*
.circles li:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20%;
  left: 70%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
}
*/

@keyframes animate {

	/*アニメーションを開始するときのCSSを記述*/
	0%{
	transform: translateY(0) ;
	opacity: 1;
	}

	/*アニメーションを終了するときのCSSを記述*/
	100%{
	transform: translateY(-1500px) ;
	opacity:0;
	}
}
/* 背景の泡の終わり */