/*　スマホで文字の大きさ良い感じに　*/
img {
	width: 400px;
	height: 400px;
}

input {
	margin: 30px;
	width: 450px;
	height: 150px;
	font-size: 50px;
}

img {
     width: 200px; /* 画像のサイズを小さく設定 */
     height: 200px; /* 画像のサイズを小さく設定 */

    }
div {
	font-size: 50px;
}

a {
        color: white;
        text-decoration: none;
        font-size: 40px;
        text-decoration: underline;
    }
a:hover {
        color: yellow;
        text-decoration: underline;
    }

.spinningImage{
    transform-origin: center bottom;
    animation: yurayura 2s linear infinite;
}

@keyframes yurayura {
  0% , 100%{
      transform: rotate(10deg);
  }
  50%{
      transform: rotate(-10deg);
  }
}