/*　スマホで文字の大きさ良い感じに　*/
img {
	width: 600px;
	height: 400px;
}

input {
	margin: 30px;
	width: 450px;
	height: 100px;
	font-size: 50px;
}

select {
	margin: 30px;
	width: 450px;
	height: 100px;
	font-size: 30px;
}

div {
	font-size: 50px;
}

a {
	font-size: 50px;
}
