@charset "UTF-8";

html {
	font-size: 40px;
}

h1 {
	text-align: left;

}

h2 {
	text-align: left;

}
.h22 {
	margin-left: 40px;
}
.automatic{
	font-size: 40px;
	text-align: right;
	margin-bottom: 30px;

}

.transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.transparent-button img {
    width: 20px;
    height: 20px;
}



.submitbutton {
	display: inline-block;
	border-radius: 5%; /* 角丸       */
	font-size: 30pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 8px 8px; /* 余白       */
	background: #020430; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
    margin-left: 50px;

}

.submitbutton:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

    .hidden {
        display: none;
    }

    HTML CSSResult Skip Results Iframe
EDIT ON
:root { font-size: 100px; }



.motivation {
  position: relative;
  background: linear-gradient(90deg, #f19af3, #f099b5);
  line-height: 0;
  perspective: 400px;

}

#remarks {
    width: 500px; /* テキストボックスの幅を300pxに設定 */
    height: 70px; /* テキストボックスの高さを50pxに設定 */
    font-size: 16px; /* フォントサイズを16pxに設定 */
    padding: 10px; /* 内側の余白を10pxに設定 */
}

#formlocation {
    width: 200px; /* セレクトボックスの幅を300pxに設定 */
    height: 100px; /* セレクトボックスの高さを50pxに設定 */
    font-size: 16px; /* フォントサイズを16pxに設定 */
    padding: 10px; /* 内側の余白を10pxに設定 */
}

#start {
    width: 100px; /* セレクトボックスの幅を300pxに設定 */
    height: 30px; /* セレクトボックスの高さを50pxに設定 */
    font-size: 16px; /* フォントサイズを16pxに設定 */
    padding: 10px; /* 内側の余白を10pxに設定 */
}


#finish {
    width: 100px; /* セレクトボックスの幅を300pxに設定 */
    height: 30px; /* セレクトボックスの高さを50pxに設定 */
    font-size: 16px; /* フォントサイズを16pxに設定 */
    padding: 10px; /* 内側の余白を10pxに設定 */
}

.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* ラジオボタンとラベルの間のスペース */
}

