@charset "UTF-8";

html {
	font-size: 40px;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}
.transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.transparent-button img {
    width: 20px;
    height: 20px;
}